:root {
    --base-gray: #282828;
    --red-base: #db5959;
    --white: #ffffff;

    --font-semi: MontSemiBold;
    --font-heavy: MontHeavy;
    --font-light: MontLight;

    --main-font: 'Lato', sans-serif;
    --trans: 0.135s ease-in-out;
}

.header {
    display: flex;
    position: fixed;
    background-color: rgba(10, 10, 2, 0.5);
    backdrop-filter: blur(20px);
    width: 100%;
}

li {
    margin-right: 30px;
    list-style-type: none;
    align-content: center;
}

li a {
    text-decoration: none;
    color: #E0E0E0;
    font-family: MontSemiBold;
    font-size: 25px;
    letter-spacing: 1px;
}

li a:hover {
    text-decoration: none;
    color: #777777;
}

.header-list {
    display: flex;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 20px;
    align-content: center;
}





body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.2;
    color: var(--white);
    background-color: var(--base-gray);
    font-family: var(--main-font)
}

.main-screen-background {
    background-image: url('/public/source/images/main_background.jpg');
}

.registration-button {
    color: var(--white);
    font-size: 40px;
    font-family: "Mont SemiBold";
    background-color: var(--red-base);
    border-radius: 30px;
    border-style: none;
    padding: 3px 13px;
    margin: 20px;
}

.registration-button:hover {
    cursor: pointer;
    color: #FFFFFF;
    font-size: 40px;
    font-family: "Mont SemiBold";
    background-color: var(--red-base);
    border-radius: 30px;
    border-style: none;
    padding: 3px 13px;
    margin: 20px;
}

.slogan {
    font-size: 50px;
    font-family: 'MontHeavy';
}

.main-screen-description {
    font-family: "Mont SemiBold";
}

.main-screen {
    background-image: url("/public/source/images/main_background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
}