.header {
    display: flex;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: MontHeavy;
}

li {
    margin-right: 30px;
    list-style-type: none;
    align-content: center;
}

li a {
    text-decoration: none;
    color: #E0E0E0;
}

li a:hover {
    text-decoration: none;
    color: #777777;
}

.header-list {
    display: flex;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 20px;
    align-content: center;
}




:root {
    --white: #ffffff;
    --dark-blue: #2d2d44;
    --green: #4eb543;
    --orange: #e84e1b;

    --main-font: 'Lato', sans-serif;
    --trans: 0.135s ease-in-out;
}

body {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 1.2;
    color: var(--white);
    background-color: #282828;
    font-family: var(--main-font)
}

.main-screen-background {
    background-image: url('/public/source/images/metro.jpg');
}

.registration-button {
    color: #FFFFFF;
    font-size: 40px;
    font-family: "Mont SemiBold";
    background-color: #F76C6C;
    border-radius: 30px;
    border-style: none;
    padding: 3px 13px;
    margin: 20px;
}

.registration-button:hover {
    cursor: pointer;
    color: #FFFFFF;
    font-size: 40px;
    font-family: "Mont SemiBold";
    background-color: #db5959;
    border-radius: 30px;
    border-style: none;
    padding: 3px 13px;
    margin: 20px;
}

.slogan {
    font-size: 50px;
    font-family: 'MontHeavy';
}

.main-screen-description {
    font-family: "Mont SemiBold";
}

.main-screen {
    background-image: url("/public/source/images/metro.jpg");
}

