@font-face {
  font-family: "MontExtralight";
  src: url("/public/source/fonts/mont-extralight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontHeavy";
  src: url("/public/source/fonts/mont-heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontSemiBold";
  src: url("/public/source/fonts/mont-semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*.App {*/
/*  text-align: center;*/
/*}*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}